anyio
blinker
certifi
click
colorama
distlib
dnspython==2.3.0
email-validator
filelock
Flask
Flask-WTF
gunicorn
h11
httpcore
idna
itsdangerous
Jinja2
MarkupSafe
packaging
peppercorn
platformdirs
pymongo
sampleproject
sniffio
virtualenv
Werkzeug
WTForms
